.header {
  display: grid;
  grid-template-columns: min-content min-content;
  width: 1200px;
  position: relative;
  height: min-content;

  &__hero {
    height: 400px;
    width: 500px;
    align-self: end;
    // transform: translateX(-10rem);
    background-color: rgb(207, 206, 206);
  }

  &__text-box {
    width: 700px;
    padding-right: 2rem;
    padding-top: 2rem;
  }

  &__h1 {
    line-height: 1.2;
  }

  &__p {
    padding: 3rem 0 2rem;
  }

  &__btn {
    margin-top: 2rem;
    font-size: 2.5rem;
  }
}
